.scroll-container {
  display: flex;
  overflow-x: auto;   
  gap: 1rem;          
  padding: 1rem;
  scrollbar-width: thin; 
}

.card-wrapper {
  flex: 0 0 auto;     
}
.searchbar{
  float:right;
  margin-top: 10px ; 
  margin-right: 40PX;
  margin-left: 30px;
}


.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5rem; 
  padding: 1rem;
}

  .centerStyle {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    min-height: 50vh;
  }